@import "bourbon/bourbon";

body {
    background: #eee url(../img/furley.png);
    text-shadow: 0 1px 1px #fff;
    color: #555;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}

body, p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

code.prettyprint {
    padding: 2px 4px;
}

#content li {
    margin-bottom: 12px;
}

#content .prettyprint li {
    margin-bottom: 0;
}

hgroup > * {
    display: inline;
}

table input { margin-bottom: 0; }

table tbody tr > th:first-child { width: 150px }

#content {
    @include box-shadow(-2px 0 2px #dde0e6);
    background-color: hsla(0, 0, 100, 0.7);
    padding: 10px 20px;
    position: fixed;
    left: 240px;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    text-shadow: 0 1px 0 #fff;
}

span.label {
    text-shadow: none;
}

.prettyprint {
    margin-bottom: 20px;
}

#sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;

    .brand {
        @include transition(text-shadow, 0.2s, ease-in-out);
        @include box-shadow(0 1px 2px #aaa);
        display: block;
        background-color: rgba(255, 150, 0, 0.3);
        font-weight: 400;
        font-size: 20px;
        padding: 20px 10px 10px 10px;
        margin-bottom: 20px;
        text-decoration: none;

        &:hover {
            text-shadow: 0 1px 1px #fff, 0 0 10px #fff;
        }
    }

    li {
        margin-bottom: 5px;
    }

    h3, > ul {
        margin-left: 10px;
    }

    a {
        color: #555;
    }
}

// interface examples
.stop {
    color: red;
}

@media screen and (max-width: 1240px) {
    .span5 { width: 640px; }
    .span16 { width: 640px; }
}

@media screen and (min-width: 1241px) {
    .row {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1581px) {
    .span5 { width: 640px; }
    .span16 { width: 640px; }
}
