body {
    font-family: 'droid sans', sans-serif;
}

pre, code {
    font-family: monospace;
    padding: 2px 3px;
    color: #f9f9f9;
    background: #333;
    font-weight: 500;
}

img {
    vertical-align: top;
}

pre {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

em {
    font-size: 0.9em;
}

.example {
    margin: 10px 10px 10px 0;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;           
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9em;

    h3 {
        margin: 0 0 10px 0;
    }
}
